<div class="customer-promotions-block block">
    <div class="block-title">
        <strong><?php echo __('Currently you don’t have any promotions') ?></strong>
    </div>


    <!-- TODO; for Bacend dev - insert here logic for showing just title or blocks below (IF - ELSE) -->
    <!-- START -->
    <div class="block-title">
        <strong><?php echo __('My Promotions') ?></strong>
    </div>

    <?= $block->getChildHtml('customer_promotions'); ?>
    <div class="discover-promotion-online-popup promotions-popup">
        <div class="popup-content">
            <?= $block->getChildHtml('customer_promotions_online_popup'); ?>
            <span class="close-btn"></span>
        </div>
    </div>
    <div class="discover-promotion-store-popup promotions-popup">
        <div class="popup-content">
            <?= $block->getChildHtml('customer_promotions_store_popup'); ?>
            <span class="close-btn"></span>
        </div>
    </div>
    <script>
        require([
            'jquery'
        ], function($) {
            'use strict';

            $('.customer-promotions-block a').on('click', function (e) {
                var elemClass = $(this).parent().attr('class');
                $('.promotions-popup.' + elemClass + '-popup').addClass("open-popup");
                e.preventDefault();
            });
            $('.customer-promotions-block').on('click','.close-btn', function () {
                $(this).parents('.promotions-popup').removeClass('open-popup');
            });
            $(document).on("click",".promotions-popup", function(event) {
                if($(this).hasClass('open-popup')){
                    if(!$(event.target).closest('.popup-content').length) {
                        $('.promotions-popup').removeClass('open-popup');
                    }
                }
                event.preventDefault();
            });
        });
    </script>
    <!-- END -->
</div>
